{%- from '_php_macros.j2' import render_ini_scope -%}
; ANSIBLE MANAGED FILE - changes will be overwritten on the next role run.
; Source: foundata.php.run

{{ render_ini_scope(__run_php_render_scope) }}
